.footer-section-container {
    border: 1px solid #ddd; /* Add border to the container */
    padding: 10px; /* Padding for spacing */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between text and image */
    align-items: center; /* Center align items vertically */
    margin-top: 20px; /* Space above the footer section */
}

.footer-section-container p {
    margin: 0; /* Remove default margin */
    color: black; /* Text color */
}

.footer-debit-card {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Space between text and image */
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .footer-section-container {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the left */
        margin-bottom: 35px;
        padding-top: 5px;
    }

    .footer-debit-card {
        margin-left: 0; /* Remove left margin */
        margin-top: 10px; /* Add some space above the image */
    }
}
