/* Center the login form on the page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* Light grey background */
}

/* Style the form */
.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  
}

/* Form heading */
.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
  gap: 10px;
}

/* Form fields */
.login-form label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

/* Style input fields */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style the submit button */
.login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-form button[type="submit"]:hover {
  background-color: darkgreen;
}

/* Error message */
.login-form p.error-message {
  color: red;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Style the forgot password link */
.forgot-password {
  margin-top: 10px;
  text-align: center;
}

.eye-icona {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 21px;
  padding-bottom: 20px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}
.password-container{
  padding-bottom: 25px;
}

.login-form h2 span {
  transition: color 0.5s;
  gap: 100px;
}

.login-form h2 span:hover {
  color: blue; /* Change color on hover */
}

.dots {
  display: inline-block;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 20%, 50%, 80%, 100% { opacity: 1; }
  10%, 30%, 60%, 90% { opacity: 0; }
}

