/* src/components/Maintenance.css */
.maintenance-container {
    text-align: center;
    padding: 50px;
  }
  
  .maintenance-container h1 {
    font-size: 2em;
    color: #333;
  }
  
  .maintenance-container p {
    font-size: 1.2em;
    color: #666;
  }
  
  .maintenance-gif {
    width: 60%;
    max-width: 500px;
    margin-top: 20px;
  }
  
  .admin-login-link {
  margin-top: 20px;
  font-size: 14px;
}

.admin-login-link a {
  color: #666;
  text-decoration: none;
  opacity: 0.5;
}

.admin-login-link a:hover {
  opacity: 1;
  text-decoration: underline;
}
