/* Container styling */
.powerbank-container {
  text-align: start;
  margin: 20px auto;
  max-width: 1200px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: var(--main-accent-color);
}

.powerbank-display {
  overflow: hidden; /* Hide extra items */
  position: relative;
}

.powerbank-slider {
  display: flex; /* Use flexbox to keep items on the same row */
  transition: transform 0.5s ease;
  width: fit-content; /* Only take space for visible items */
}

.powerbank-item {
  flex: 0 0 auto; /* Prevent items from shrinking */
  width: 150px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-accent-color);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.powerbank-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.powerbank-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.powerbank-item:hover .powerbank-image {
  transform: scale(1.05);
}

.powerbank-name {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}

/* Responsive Media Queries */

/* 320px and 375px - 2 items visible */
@media (max-width: 375px) {
  .powerbank-display {
    width: calc(2 * 150px + 2 * 15px); /* Adjust width to show only 2 items */
  }
}

/* 425px - 3 items visible */
@media (min-width: 376px) and (max-width: 425px) {
  .powerbank-display {
    width: calc(3 * 150px + 3 * 15px); /* Adjust width to show 3 items */
  }
}

/* 769px - 5 items visible */
@media (min-width: 426px) and (max-width: 769px) {
  .powerbank-display {
    width: calc(5 * 150px + 5 * 15px); /* Adjust width to show 5 items */
  }
}

/* 1024px - 6 items visible */
@media (min-width: 770px) and (max-width: 1024px) {
  .powerbank-display {
    width: calc(6 * 150px + 6 * 15px); /* Adjust width to show 6 items */
  }
}
