.return-refund-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: 100px;
}

.return-refund-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #1E2019;
}

.return-refund-container h2 {
    font-size: 1.5em;
    margin-top: 20px;
    color: green;
}

.return-refund-container p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.return-refund-container a {
    color: green;
    text-decoration: none;
}

.return-refund-container a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .return-refund-container{
        margin-top: 75px;
    }
}

@media (max-width: 1024px) {
    .return-refund-container{
        margin-top: 125px;
    }
}